*{
    box-sizing:border-box;
}


body {
    /* body에 남아있는 여백 날리기! */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "나눔 고딕";
}


.ascii-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.ascii-art {

    font-family: monospace;
    white-space: pre;

    position : absolute;
    justify-content: center;
    bottom: 10%;


    width: max-content;
    color : #44A246;
    background-color: #ffffff;
    background-color: rgba( 255, 255, 255, 0 );


}

.ascii-art > p {

    z-index: 1;
    margin :0;


    text-align: left;
    width: 100%;

    font-size: 13px;
    line-height: 10px;
    letter-spacing: 2px;

}


div {

    display : flex;
    justify-content: center;
    align-items:center;


}

a {
    text-decoration: none;

    justify-content: center;
    align-items:center;


    width: fit-content;
    height: fit-content;

}

#chan {
    z-index: 5;
    margin: 0;
    padding: 0;

    display : flex;
    justify-content: center;
    align-items:center;
    background-color: rgba( 0, 0,0 , 0.8 );

    position: fixed;
    left: 20%;
    top: 15%;
    height: fit-content;

}

#MBTI {
    z-index: 4;
    margin: 0;
    padding: 0;

    display : flex;
    justify-content: center;
    align-items:center;
    background-color: rgba( 0, 0,0 , 0.8 );

    position: fixed;
    left: 20%;
    top: 35%;
    height: fit-content;

}

#game {
    z-index: 3;
    margin: 0;
    padding: 0;

    display : flex;
    justify-content: center;
    align-items:center;
    background-color: rgba( 0, 0,0 , 0.8 );

    position: fixed;
    left: 20%;
    top: 55%;
    height: fit-content;

}
#hair {
    z-index: 5;
    margin: 0;
    padding: 0;

    display : flex;
    justify-content: center;
    align-items:center;
    background-color: rgba( 0, 0,0 , 0.8 );

    position: fixed;
    left: 60%;
    top: 15%;
    height: fit-content;

}

#blog {
    z-index: 4;
    margin: 0;
    padding: 0;

    display : flex;
    justify-content: center;
    align-items:center;
    background-color: rgba( 0, 0,0 , 0.8 );

    position: fixed;
    left: 60%;
    top: 35%;
    height: fit-content;

}
#diver{
    z-index: 3;
    margin: 0;
    padding: 0;

    display : flex;
    justify-content: center;
    align-items:center;
    background-color: rgba( 0, 0,0 , 0.8 );

    position: fixed;
    left: 60%;
    top: 55%;
    height: fit-content;
}

.me{
    z-index: 2;

    position: absolute;
    bottom: -1%;
    left: -10%;
}
.me:hover {
    opacity: 0;
    transition: 1s;
}


.button {

    display: flex;
    justify-content: center;
    align-items: center;
    
    position : absolute;
    left: 30%;
    top: 30%;
}