*{
    box-sizing:border-box;
}


body {
    /* body에 남아있는 여백 날리기! */
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image:url(./img/matrix.jpg);
    
}

.ascii-art {
    font-family: monospace;
    white-space: pre;

    position : relative;
    justify-content: center;


    width: 55%;
    color : #44A246;
    background-color: black;

}

.ascii-art > p {
    text-align: left;
    width: 100%;
}

div {

    display : flex;
    justify-content: center;
    align-items:center;

    color: white;
    background-color: white;
}

#enfp{
    margin: 0;
    padding: 0;

    /* display : flex; */
    justify-content: center;
    align-items:center;

    position: absolute;
    left: 60%;
    top: 50%;
}

#diver{
    margin: 0;
    padding: 0;

    /* display : flex; */
    justify-content: center;
    align-items:center;

    position: absolute;
    left: 40%;
    top: 50%;
}