*{
    box-sizing:border-box;
}


body {
    /* body에 남아있는 여백 날리기! */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.ascii-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.ascii-art {

    font-family: monospace;
    white-space: pre;

    position : absolute;
    justify-content: center;
    bottom: 0%;


    width: max-content;
    color : #44A246;
    background-color: #ffffff;
    background-color: rgba( 255, 255, 255, 0 );


}

.ascii-art > p {

    margin :0;


    text-align: left;
    width: 100%;

    font-size: 13px;
    line-height: 10px;
    letter-spacing: 2px;

}


div {

    display : flex;
    justify-content: center;
    align-items:center;

    color: white;
    background-color: white;
}

a {
    text-decoration: none;

    justify-content: center;
    align-items:center;

    color: white;
    width: fit-content;
    height: fit-content;

}
#me{
    position: fixed;
    bottom: -13%;
    left: 11.8%;
}


#enfp{
    margin: 0;
    padding: 0;

    /* display : flex; */
    justify-content: center;
    align-items:center;

    position: fixed;
    left: 55%;
    top: 60%;
}

#diver{
    margin: 0;
    padding: 0;

    /* display : flex; */
    justify-content: center;
    align-items:center;

    position: fixed;
    left: 20%;
    top: 75%;
}


.button {

    display: flex;
    justify-content: center;
    align-items: center;
    
    position : absolute;
    left: 30%;
    top: 30%;
}