*{
    box-sizing:border-box;
}


body {
    /* body에 남아있는 여백 날리기! */
    margin: 0;
    padding: 0;

    /* body에서 양쪽으로 넘어가지 못하도록 제한했어요. */
}

.ascii-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/matrix.jpg);
}

.ascii-art {
    font-family: monospace;
    white-space: pre;

    position : relative;
    justify-content: center;

    width: fit-content;
    color : #44A246;
    background-color: black;
}


/* p 태그를 추가 했어요 */
.ascii-art > p {
    width: 100%;
}

div {
    /* absolute를 div에 바로 거는건 좋지 않아염.. */
    display : flex;
    justify-content: center;
    align-items:center;

    color: white;
    background-color: white;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    position : absolute;
    left: 30%;
    top: 30%;
}